// @import "mixins/reset";
// @include reset;

$header-height: 42px;

.dev {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

i {
  cursor: pointer;
  color: #333;

  &:hover, &.selected {
    color: #cc0000 !important;
  }
}

@import
"helpers/colors",

"partials/general",
"partials/forms",
"partials/nav",
"partials/route-settings",
"partials/chatter-list",
"partials/notifications",
"partials/emoji-selector",
"partials/user-manager",
"partials/connection-status",
"partials/follower-monitor",
"partials/subscriber-monitor",
"partials/whispers",
"partials/input-autocomplete",
"partials/twitch-chat";
