@import "mixins/reset";
@include reset;

$header-height: 42px;

.dev {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

@import
"helpers/colors",

"partials/general",
"partials/forms",
"partials/nav",
"partials/route-settings",
"partials/viewer-list",
"partials/notifications",
"partials/emoji-selector",
"partials/twitch-chat";
