$emoji-selector-height: 175px;
$emoji-selector-width: 505px;

.emoji-selector {
  position: relative;

  // actual emoji-selector with emoji icons
  ul {
    display: none;
    position: absolute;
    top: -$emoji-selector-height;
    left: -$emoji-selector-width + 20px;
    width: $emoji-selector-width;
    height: $emoji-selector-height;
    background: #fff;
    overflow: scroll;
    box-shadow: 0 1px 5px #666;
    padding: 12px;

    &.visible {
      display: block;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    // TODO: fix emoji icon spacing
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
}
