body {
  font: 14px Open Sans, sans-serif;
  line-height: 18px;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: Roboto;
  font-weight: normal;
}

h4, h5, h6 {
  font-family: Roboto Condensed;
  font-weight: normal;
}

button i {
  margin-right: 5px;
}

select {
  width: 200px;
}

button {
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-weight: bold;
}

.application.connected {
  #loading {
    opacity: 0;
    top: -9999px;
  }
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  z-index: 100000;
  text-align: center;
  opacity: 1;
  transition: top 1000ms ease-in-out, opacity 300ms ease-in-out;

  div, span {
    color: #fff;
  }

  .fa-spinner {
    color: red;
  }

  .fa-check-square-o {
    color: green;
  }

  div.list-group {
    border: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 36px;
    width: 30vw;
    margin: 0 auto;
    text-align: left;

    &, span {
      background: #111;
    }
  }
}

#chat {
  // background: #ddd;
  height: 100vh;
}

#main-app {
  height: 100vh;
  overflow-y: scroll;

  > .ember-view {
    padding-bottom: 50px;
  }
}
