body {
  font: 14px Arial, sans-serif;
  line-height: 18px;
  overflow: hidden;
}

.application.connected {
  #loading {
    display: none;
  }
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  z-index: 100000;

  h1 {
    color: #f1f1f1;
    line-height: 100vh;
    text-align: center;
  }
}

#chat {
  // background: #ddd;
  width: 50vw;
  height: 100vh;
}

#main-app {
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
}
