nav {
  background: #000;
  color: #fff;
  text-align: right;
  height: $header-height;

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 12px 24px;
    border-left: 1px solid #333;
    margin: 0;
    text-transform: uppercase;

    &.active {
      color: #cc0000;
    }

    &:first-child {
      border-left: none;
    }

    &:hover {
      color: #cc0000;
    }
  }
}
