nav {
  background: #3B454C;
  color: #fff;
  text-align: right;
  height: $header-height;

  i {
    color: #fff;
    margin-right: 5px;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 12px 24px;
    border-left: 1px solid #333;
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto Condensed;

    &:first-child {
      border-left: none;
    }

    &:hover {
      color: #57D8A4;

      i {
        color: #57D8A4;
      }
    }

    &.active {
      color: #fff;
      background: #57D8A4;

      &:hover {
        color: #fff;

        i {
          color: #fff;
        }
      }
    }
  }
}
