<div class="row">
  <div class="col-xs-6">
    <h4>Default Channel</h4>
    {{input type="text" focus-out="save" value=defaultChannel}}
  </div>

  <div class="col-xs-6">
    <h4>Timeout Duration</h4>
    {{input type="text" focus-out="save" value=viewerTimeoutDuration}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>Follower Update Interval</h4>
    {{input type="text" focus-out="save" value=followerUpdateInterval}}
  </div>

  <div class="col-xs-6">
    <h4>Chatlist Update Interval</h4>
    {{input type="text" focus-out="save" value=chatlistUpdateInterval}}
  </div>
</div>
