<h4>Add New Account</h4>

<div class="row">
  <div class="col-xs-12">
    <div class="add-user">
      {{input type="text" class="new-username" value=newUsername placeholder="Username" enter="addUser"}}
      {{input type="text" class="new-oauth" value=newOauth placeholder="OAuth Token" enter="addUser"}}

      <button class="btn btn-primary" {{action "addUser"}}><i class="fa fa-user-plus"></i>Add</button>
    </div>
  </div>
</div>
