<h4>Add New Account</h4>

<div class="row">
  <div class="col-xs-5">
    {{input type="text" class="new-username" value=newUsername placeholder="Username" enter="addUser"}}
  </div>

  <div class="col-xs-5">
    {{input type="text" class="new-oauth" value=newOauth placeholder="OAuth Token" enter="addUser"}}
  </div>

  <div class="col-xs-2">
    <button class="btn btn-primary" {{action "addUser"}}><i class="fa fa-user-plus"></i>Add</button>
  </div>
</div>
