<h3>
  Chatter List

  {{#if viewerCount}}
    ({{viewerCount}})
  {{/if}}
</h3>

<div class="search">
  {{input type="text" value=searchTerm placeholder="Search..."}}
</div>

<ul>
  {{#each viewers as |viewer|}}
    <li class="viewer">
      <span class="username">{{viewer}}</span>
    </li>
  {{/each}}
</ul>
