<div class="row">
  <div class="col-xs-12">
    <h4>Twitch Channel</h4>
    {{input type="text" value=channelName enter="joinChannel"}} <button class="btn btn-primary" {{action "joinChannel"}}><i class="fa fa-sign-in"></i>Join</button>
  </div>
</div>
