<h3>Settings</h3>

<div class="row">
  <div class="col-xs-3">
    <div class="list-group">
      {{#link-to "settings.accounts" class="list-group-item"}}
        <i class="fa fa-user fa-fw"></i> Accounts
      {{/link-to}}

      {{#link-to "settings.chat" class="list-group-item"}}
        <i class="fa fa-comments fa-fw"></i> Chat
      {{/link-to}}

      {{#link-to "settings.lists" class="list-group-item"}}
        <i class="fa fa-list-alt fa-fw"></i> Lists
      {{/link-to}}

      {{#link-to "settings.loyalty" class="list-group-item"}}
        <i class="fa fa-diamond fa-fw"></i> Loyalty
      {{/link-to}}

      {{#link-to "settings.giveaways" class="list-group-item"}}
        <i class="fa fa-usd fa-fw"></i> Giveaways
      {{/link-to}}

      {{#link-to "settings.commands" class="list-group-item"}}
        <i class="fa fa-terminal fa-fw"></i> Commands
      {{/link-to}}

      {{#link-to "settings.macros" class="list-group-item"}}
        <i class="fa fa-magic fa-fw"></i> Macros
      {{/link-to}}
    </div>
  </div>

  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>
