<h2>Dashboard</h2>

{{control-center}}

<div class="row">
  <div class="col-xs-12">
    <h3>Dashboard Features</h3>

    <ul>
      <li>Follower Count</li>
      <li>Newest Followers</li>
      <li>Subscriber Count</li>
      <li>Newest Subscribers</li>
      <li>Stream uptime</li>
      <li>Active Lists</li>
      <li>Active Giveaways</li>
      <li>Loyalty Stats</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Upcoming Features</h3>

    <ul>
      <li>Username autocomplete</li>
      <li>Random Joke Fetcher</li>
      <li>Persistent Connection Status Bar? With Channel Join</li>
      <li>Giveaways: bot gives one keyword a day (similar to radio giveaways) -- all keywords required for eligibility</li>
    </ul>
  </div>
</div>
