<div class="row">
  <div class="col-xs-12">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    {{twitch-chat title="Chat" messages=chatroom enableChatInput="true" enableViewerList="true"}}
  </div>

  <div class="col-xs-4">
    {{twitch-chat title="Mentions" messages=mentions}}
  </div>
</div>
