<h3>Dashboard</h3>

{{join-channel}}

{{connection-status}}

{{follower-monitor}}

{{subscriber-monitor}}

<div class="row">
  <div class="col-xs-12">
    <h4>[TODO] Dashboard Features</h4>

    <ul>
      <li>Stream uptime</li>
      <li>Active Lists</li>
      <li>Active Giveaways</li>
      <li>Loyalty Stats</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>[TODO] Priorities</h4>

    <ul>
      <li>Limit Chat History for performance reasons (hide older than 100 messages? remove completely?)</li>
      <li>Add enable/disable for certain features and dashboard "modules" (whispers, emojis, connection status...)</li>
      <li>Abstract keyboard input into mixin</li>
      <li>Lists</li>
      <li>Loyalty</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>[TODO] Features</h4>

    <ul>
      <li>Whisper autocomplete</li>
      <li>Emoji autocomplete?</li>
      <li>Random Joke Fetcher</li>
      <li>Persistent Connection Status Bar? With Channel Join</li>
      <li>Giveaways: bot gives one keyword a day (similar to radio giveaways) -- all keywords required for eligibility, viewers whisper keywords (which can be auto-tracked)</li>
      <li>Clear: Chat, Mentions, Starred, Whispers, Latest Followers/Subs</li>
      <li>(BEFORE TESTING SPOTIFY) Chat Rate Limit Protection</li>
      <li>Song Request / Spotify API</li>
      <li>Games section (spin the wheel, etc.)</li>
      <li>Keyboard controlled image animations and carousels -- have it load a </li>
    </ul>
  </div>
</div>
