{{page-header title="Connection Status" subtitle="true"}}

<div class="row">
  <div class="col-xs-12">
    <span>Connection Status: {{status}}</span>

    <!-- {{#each-in clients as |clientName client|}}
      {{clientName}}
      <span>Connection Status:</span>
    {{/each-in}} -->
  </div>
</div>
